<!doctype html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>{$title} - {$core['title']}</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="__PUBLIC__/Xadmin/css/font.css">
        <link rel="stylesheet" href="__PUBLIC__/Xadmin/css/xadmin.css">
        <link rel="icon" href="__PUBLIC__/../favicon.ico" type="image/png">
        <!--    ===后台主题模板===    -->
        <link rel="stylesheet" href="__PUBLIC__/Xadmin/css/themes/{$core['home_template']}">
        <!--    ===后台主题模板===    -->
        <script src="__PUBLIC__/Xadmin/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="__PUBLIC__/Xadmin/js/xadmin.js"></script>
        <script src='__PUBLIC__/404/js/jquery.min.js'></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            // 是否开启刷新记忆tab功能
            var is_remember = false;
        </script>
    </head>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="#">后台管理 v{$data['VERSION']}({$data['BUILD']})</a></div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>
            <ul class="layui-nav left fast-add" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">+添加</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a onclick="xadmin.open('创建商户','/admin/userOper/creation/')">
                                <i class="iconfont">&#xe6b8;</i>创建商户</a></dd>
                        <dd>
                            <a onclick="xadmin.open('发布新公告','/admin/NoticeManage/?mode=add&id')">
                                <i class="iconfont">&#xe705;</i>发布新公告</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item to-index">
                    <a href="/" target="_blank">平台首页</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">admin</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a onclick="xadmin.add_tab('基本信息','/admin/info')">基本信息</a></dd>
                        <dd>
                            <a href="/logout?mode=admin">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li>
                        <a onclick="xadmin.add_tab('后台首页','/admin/index/home')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>后台首页</cite></a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="网站管理">&#xe6ae;</i>
                            <cite>网站管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('基本信息','/admin/info')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>基本信息</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('模板管理','/admin/temp')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>模板管理</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('邮箱配置','/admin/email')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>邮箱配置</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('API配置','/admin/api')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>API配置</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('友情链接','/admin/links')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>友情链接</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('Logo上传','/admin/logo')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>Logo上传</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('商户管理','/admin/UserOper')">
                            <i class="iconfont">&#xe6b8;</i>
                            <cite>商户管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('交易记录','/admin/bill')">
                            <i class="iconfont">&#xe6a2;</i>
                            <cite>交易记录</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('续费记录','/admin/renew')">
                            <i class="iconfont">&#xe82a;</i>
                            <cite>续费记录</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('广告管理','/admin/AdManage')">
                            <i class="layui-icon layui-icon-tabs"></i>
                            <cite>广告管理</cite></a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="支付管理">&#xe6d4;</i>
                            <cite>支付管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('支付方式','/admin/pay_type')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>支付方式</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('支付接口','/admin/pay_interface')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>支付接口</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('支付插件','/admin/pay_plug_in')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>支付插件</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('公告管理','/admin/NoticeManage')">
                            <i class="iconfont">&#xe705;</i>
                            <cite>公告管理</cite></a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="系统安全">&#xe71c;</i>
                            <cite>系统安全</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('监控列表','/admin/key')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>监控列表</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('违规记录','/admin/Illegal')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>违规记录</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('后台密码','/admin/pass')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>后台密码</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('登录记录','/admin/LoginRecord')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>登录记录</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('检查更新','/admin/update')">
                            <i class="iconfont">&#xe6ce;</i>
                            <cite>检查更新</cite></a>
                    </li>



                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>后台首页</li></ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">关闭当前</dd>
                        <dd data-type="other">关闭其它</dd>
                        <dd data-type="all">关闭全部</dd></dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src='/admin/index/home' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <style id="theme_style"></style>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
    </body>
    <script>
        $.ajax({
            type: "POST",
            url: "/admin/update/getUpdate",
            data: {"": ""},
            dataType: "json",
            success: function (json) { //SUCCESS
                var data = $.parseJSON(json);
                if (data.code == 0) {
                    if (data.update == 1) {
                        //需要更新
                        layui.use("layer", function () {
                            layer.open({
                                type: 1
                                ,
                                title: false //不显示标题栏
                                ,
                                closeBtn: false
                                ,
                                area: '300px;'
                                ,
                                shade: 0.5
                                ,
                                id: 'LAY_layuipro' //设定一个id，防止重复弹出
                                ,
                                resize: false
                                ,
                                btn: ['立即更新']
                                ,
                                btnAlign: 'c'
                                ,
                                moveType: 1 //拖拽模式，0或者1
                                ,
                                content: '<blockquote class="layui-elem-quote layui-quote-nm layui-bg-red"><h2>有新版本更新了，请尽快更新哦！<h2></blockquote><blockquote class="layui-elem-quote layui-quote-nm"><div style="font-size: 16px">最新版本：<br/>'
                                    +'版本号：'+ data.data.version +'（Build:'+ data.data.build +'）<br/>'
                                    +'更新时间：'+ data.data.update_time +'<br/>'
                                    +'</blockquote>'
                                ,
                                success: function (layero) {
                                    xadmin.add_tab('检查更新','/admin/update');
                                }
                            });
                        });
                    }
                } else {
                    layer.close(Load); //关闭加载
                    var indexa = layer.alert(data.msg, {title: data.title, icon: 5}, function () {
                        layer.close(indexa);
                        if (data.url != "" && data.url != null) {
                            window.location.href = data.url;
                        }
                    })
                }
            },
            error: function () { //ERROR
                layer.close(Load); //关闭加载
                layer.msg('系统繁忙');
            }
        });

    </script>
</html>
